#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position:absolute
}

.theme {
  position: absolute;
  background-color: lightgrey;
  font-family: Arial, sans-serif;
  top: 10px;  
  left: 10px;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  color: black;
  text-align: center; 
  
}

.select_1 {
  position: absolute;
  background-color: white;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  top: 60px;
  left: 10px; 
  height: 60px;
  width: 300px;
  text-align: center; 
  opacity: 95%;
}

.select_2 {
  position: absolute;
  background-color: white;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  top: 130px;
  left: 10px;
  height:350px; 
  width: 50px;
  font-size: 12px; 
  opacity: 95%;
}
  

#filters{
  line-height: 30px;
}

.search{
  font-size: 14px;
}

#slider{
  width: 275px;
}


h1 {
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

h2 {
  font-size: 13px;
  text-align: center;
}

h3 {
  margin: 5px;
  font-size: 15px;
}

p {
  margin: 5px;
  font-size: 10px;
}

.new mapboxgl.Popup {
width: 200px;
background: rgba(83, 92, 104,0.9);
border-top: 50px black;
10
padding: 20px;
color: white;
}

#panel {
 position: fixed;
 top: 139px;
 left: 80px;
 bottom: 0;
 height: 330px;
 margin: 0;
 width: 190px;
 z-index: 999;
 overflow-y: auto;
 background: #fff;
 padding: 10px 25px;
 border-radius: 5px;
}

#panel li {
padding: 5px;
cursor: pointer;
}

#panel li.highlight {
background-color: lightgrey;
}

.my-popup .mapboxgl-popup-content { 
width: 200px; 
background: white;
border-top: 50px; 
padding: 20px; 
color: black;
opacity: 80%;
border-radius: 20px;
}